* {
  box-sizing: border-box;
  margin: 0 auto;
}

.row {
  display: flex;
}

.days {
  justify-content: center;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.column-full {
  width: 100%;
}

.header {
  text-align: center;
  padding-top: 2rem;
}

.hidden {
  display: none;
}

.modal-box {
  position: fixed;
  background-color: white;
  width: 500px;
  height: 225px;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.column-seventh {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 5.5;
  border-radius: 10px;
}

.text-center {
  text-align: center;
}

.each-day {
  justify-content: space-between;
  cursor: pointer;
}

.width-90 {
  width: 90%;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

.button-design {
  padding: 10px;
  border-radius: 4px;
  width: 15%;
  background-color: lightgray;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.75);
}

textarea {
  resize: none;
}

button {
  background-color: white;
  outline: none;
  width: 6rem;
  cursor: pointer;
}

th {
  background-color: darkgray;
  text-align: left;
}

table tr td th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
}

.day {
  margin: 0.7rem 1rem;
}

.time {
  margin: 0.7rem 1rem;
}

.description {
  margin: 1rem;
}

.float button {
  float: right;
  margin-right: 1rem;
}
