* {
  box-sizing: border-box;
}



.row {
  display: flex;
}

.days {
  justify-content: center;
  /*  */
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.column-full {
  flex-basis: 100%;
}


.header {
  text-align: center;
  padding-top: 2rem;
}

.column-seventh {
  width: 10%;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  line-height: 5.5;
  border-radius: 10px;
}

.each-day {
  justify-content: space-between;
  cursor: pointer;
}

button {
  background-color: white;
  outline: none;
  width: 6rem;
  cursor: pointer;
}

th {
  background-color: darkgray;
  text-align: left;
}


table tr td th{
  border: 1px solid black
}

table {
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
}

tr:nth-child(odd){
  background-color: lightsteelblue;
}

.button-design {
  padding: 10px; 
  border-radius: 4px; 
  width: 15%; 
  background-color: lightgray; 
  filter: drop-shadow(7px 5px 4px black);
}
